.about {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
  .backToTop {
    width: 100%;
    padding: 2em 0;
    margin-top: 3em;
    border-top: 1px solid #ccc;
    text-align: center;
    span {
      color: #ccc;
      @include font(1.3em, 1.5em, 100, 2px);
      cursor: pointer;
      &:active {
        opacity: 0.4;
      }
    }
  }
  &__title {
    width: 50%;
    aspect-ratio: 2;
    background-image: url('../../../public/images/aboutIMG/title.png');
    @include bg-contain;
  }
  &__info {
    width: 60%;
    margin: 0 auto;
    margin-top: 5em;
    aspect-ratio: 16/9;
    background-image: url('../../../public/images/aboutIMG/info.png');
    @include bg-contain;
  }
  &__skill {
    width: 60%;
    margin: 3em auto;
    &__title {
      width: 20%;
      aspect-ratio: 2;
      background-image: url('../../../public/images/aboutIMG/skill.png');
      @include bg-contain;
    }
    &__info {
      width: 80%;
      margin: 2em auto;
      aspect-ratio: 2;
      background-image: url('../../../public/images/aboutIMG/list.png');
      @include bg-contain;
    }
  }
  &__ex {
    width: 60%;
    margin: 3em auto;
    &__title {
      width: 42%;
      aspect-ratio: 3;
      background-image: url('../../../public/images/aboutIMG/experience.png');
      @include bg-contain;
    }
    &__info {
      width: 65%;
      margin: 2em auto;
      aspect-ratio: 3/4;
      background-image: url('../../../public/images/aboutIMG/job.png');
      @include bg-contain;
    }
  }
  &__mail {
    width: 40%;
    margin-top: 6em;
    aspect-ratio: 3;
    background-image: url('../../../public/images/aboutIMG/mail.png');
    @include bg-contain;
  }
}
