.burger {
  //RWD-sm
  @include sm {
    display: none;
  }
  @include size(100%, 100vh);
  @include absolute-rt(0%, 0%);
  z-index: 50;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  .close__area {
    @extend %absolute-center;
    @include size(100%, 100vh);
    z-index: 51;
  }
  ul {
    width: 70%;
    padding: 2rem;
    z-index: 52;
    @include blur(180%, 20px);
    animation: open 1s forwards;
  }
  &__title {
    @include font(1.5rem, 1.5rem, 100, 2px);
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  &__link {
    padding: 1rem 0;
    &:not(:first-of-type) {
      margin-top: 2rem;
    }
    a {
      font-family: 'Aboreto', cursive;
      @include font(1.5rem, 1.5rem, 200, 2px);
    }
  }
}

.burger-b {
  //RWD-sm
  @include sm {
    display: none;
  }
  @include size(100%, 100vh);
  @include absolute-rt(0%, 0%);
  z-index: 50;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  .close__area {
    @extend %absolute-center;
    @include size(100%, 100vh);
    z-index: 51;
  }
  ul {
    width: 70%;
    padding: 2rem;
    z-index: 52;
    @include blur(180%, 20px);
    animation: open 1s forwards;
  }
  &__title {
    @include font(1.5rem, 1.5rem, 100, 2px);
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    color: #ccc;
  }
  &__link {
    padding: 1rem 0;
    &:not(:first-of-type) {
      margin-top: 2rem;
    }
    a {
      color: #ccc;
      font-family: 'Aboreto', cursive;
      @include font(1.5rem, 1.5rem, 200, 2px);
    }
  }
}
