.home {
  &__title {
    width: 70%;
    aspect-ratio: 19/9;
    margin: 2% 0 0 3%;
    transition: all 2s;
    background-image: url('../../../public/images/projectIMG/title.png');
    @include bg-contain;
    background-position: left top;
    animation: breathe 10s infinite forwards;
    a {
      @include absolute-center;
      @include size(100%, 100%);
    }
  }

  &__circle {
    @include absolute-rb(5%, 0%);
    width: 15%;
    aspect-ratio: 1;
    opacity: 0.2;
    background-image: url('../../../public/images/projectIMG/circle.png');
    @include bg-contain;
    animation: round 20s forwards infinite linear;
  }
}
