.home {
  animation: pageFadeIn 3s forwards;
  overflow: hidden;
  &__title {
    h1 {
      color: #555;
      z-index: 30;
      font-family: 'Roboto Slab', serif;
      @include font(15vw, 17vw, 100, 2px);
      //RWD-sm
      @include sm {
        @include font(15vh, 17vh, 100, 4px);
      }
      &:hover {
        opacity: 0;
      }
    }
  }
}
