.project {
  overflow: auto;
  animation: pageFadeIn 3s forwards;
  &::-webkit-scrollbar {
    width: 0;
  }
  .backToTop {
    width: 100%;
    color: #666;
    padding: 1em 0;
    display: block;
    text-align: center;
    @include font(1.3em, 1.5em, 100, 2px);
    cursor: pointer;
    &:active {
      opacity: 0.3;
    }
  }
  &__item {
    margin: 0 auto;
    width: 80%;
    padding: 2.5em 0;
    border-bottom: 1px solid #ccc;
    @extend %flex-horizontal;
    justify-content: space-between;
    flex-wrap: wrap;
    .left {
      width: 100%;
      display: flex;
      //RWD-sm
      @include sm {
        flex-direction: column;
      }
      //RWD-sm
      @include sm {
        width: 25%;
        height: 100%;
      }
      margin-bottom: 1.5rem;
      li {
        width: 100%;
        //RWD-sm
        @include sm {
          &:not(:first-of-type) {
            margin-top: 2.5rem;
          }
        }
      }
      &__title {
        @extend %flex-horizontal;
        h1 {
          font-family: 'Cormorant', serif;
          @include font(1.5em, 1.8em, 100, 2px);
          color: #333;
        }
        p {
          font-family: 'Aboreto', cursive;
          @include font(1.7em, 1.5em, 100, 3px);
          color: #333;
          margin-left: 0.3em;
        }
        //RWD-sm
        @include sm {
          h1 {
            @include font(1.8em, 2em, 100, 2px);
          }
        }
      }
      &__decoration {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        //RWD-sm
        @include sm {
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
        }
        .circle {
          display: none;
          //RWD-sm
          @include sm {
            display: flex;
          }
          @include size(100%, 4rem);
          @include after('', 4em, 4em) {
            @include absolute-lt(4rem, 2px);
            opacity: 0.2;
            background-image: url('../../../public/images/projectIMG/click.png');
            @extend %bg-contain;
            animation: round 20s forwards infinite linear;
          }
          span {
            align-self: center;
            @include font(1.2rem, 1.5rem, 100, 1px);
            color: #333;
            opacity: 0.5;
          }
        }
        .github {
          @extend %flex-horizontal;
          transition: all 0.4s;
          //RWD-sm
          @include sm {
            margin-top: 2.5rem;
          }
          p {
            display: none;
            //RWD-sm
            @include sm {
              display: block;
            }
            color: #333;
            @include font(1em, 1.1em, 100, 2px);
          }
          span {
            @include size(1.2rem, 1.2rem);
            background-image: url('../../../public/images/projectIMG/github-logo.png');
            @extend %bg-contain;
            opacity: 0.6;
            margin-right: 0.5rem;
          }
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
    .right {
      width: 100%;
      //RWD-sm
      @include sm {
        width: 60%;
        height: 100%;
      }
      li {
        width: 100%;
        overflow: hidden;
      }
      &__img {
        box-shadow: 1px 1px 5px rgb(80, 80, 80);
        margin-bottom: 1rem;
        .mask {
          @include absolute-lt(0, 0);
          @include size(100%, 100%);
          background-color: rgba(255, 255, 255, 0.2);
          @include blur(60, 5px);
          transform-origin: top left;
          transition: all 1s;
          z-index: 20;
        }
        a {
          width: 100%;
          display: block;
          @extend %bg-contain;
          aspect-ratio: 16/9;
          @include img-w(100%, contain) {
            transition: all 1s;
          }
        }
        &:hover {
          .mask {
            transform: rotate(90deg);
          }
          img {
            transform: scale(1.3) rotate(8deg);
          }
        }
      }
      &__title {
        text-align: end;
        font-family: 'Roboto Slab', serif;
        white-space: nowrap;
        h1 {
          font-family: 'Aboreto', cursive;
          @include font(2rem, 3rem, 100, 2px);
          color: #555;
        }
        h2 {
          @include font(1.5rem, 2.2rem, 100, 2px);
          color: #333;
        }
        //RWD-md
        @include md {
          h1 {
            @include font(3rem, 3.8rem, 100, 2px);
          }
          h2 {
            @include font(2.4rem, 2.8rem, 100, 1px);
          }
        }
      }
    }
  }
}
