body {
  font-family: 'Noto Sans TC', sans-serif;
}

.container {
  @include size(95%, 80vh);
  @include absolute-lt(50%, 12vh);
  translate: -50% 0;
  padding: 0 1rem;
  //RWD-sm
  @include sm {
    @include size(95%, 75vh);
    @include absolute-lt(50%, 15vh);
  }
}

.theme-bgc {
  @include size(100%, 100vh);
  background-image: url('../../../public/images/projectIMG/white-bgc.jpeg');
  display: flex;
  &__border {
    @include size(95%, 95vh);
    margin: auto;
    border: 1px solid #777;
    border-radius: 1em;
  }
}

.theme-bgc--b {
  @include size(100%, 100vh);
  background-image: url('../../../public/images/aboutIMG/black-bgc.jpg');
  display: flex;
  &__border {
    @include size(95%, 95vh);
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
}

@keyframes round {
  to {
    transform: rotate(360deg);
  }
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes open {
  from {
    translate: 100%;
  }
  to {
    translate: 0%;
  }
}

@keyframes pageFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
