body {
  font-family: 'Noto Sans TC', sans-serif;
}

.container {
  @include size(95%, 80vh);
  @include absolute-lt(50%, 12vh);
  translate: -50% 0;
  padding: 0 1rem;
  //RWD-sm
  @include sm {
    @include size(95%, 75vh);
    @include absolute-lt(50%, 15vh);
  }
}

.theme-bgc {
  @include size(100%, 100vh);
  background-image: url('../../../public/white-bgc.jpeg');
  display: flex;
  &__border {
    @include size(95%, 95vh);
    margin: auto;
    border: 1px solid #777;
    border-radius: 1em;
  }
}

.theme-bgc--b {
  @include size(100%, 100vh);
  background-image: url('../../../public/black-bgc.jpg');
  display: flex;
  &__border {
    @include size(95%, 95vh);
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
}
